@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header {
    width: 1000px;
    margin: 0 auto;
    background: #012A4C;
    padding: 40px 60px;
}

footer {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 60px;
}

header h1 {
    color: #FFF;
    margin: 0;
    font-weight: 800;
    font-size: 42px;
}

h1, h2, h3 {
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 140%;
}

header nav ul {
    list-style: none;
    margin: 0 32% 0 32%;
    padding: 10px 0 0 0;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

header nav ul li a {
    color: #FFF;
    font-weight: 1000;
}

div.page {
  background: #f1fbfe;
  width: 1000px;
  margin: 0 auto;
  padding: 40px 60px;
}

.category_label {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
      }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav a:hover, .dropdown:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #012A4C;
  }

nav .active>a {
  color: #0066B9;
}

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.active:hover .dropdown-content ,.dropdown:hover .dropdown-content {
    display: block;
  }