@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, div.page {
    width: 760px;
    margin: 0 auto;
    background: #012A4C;
    padding: 20px 30px;
}

footer {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header h1 {
    color: #FFF;
    margin: 0;
    font-weight: bold;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

header nav ul li a {
    color: #FFF;
}

div.page {
    background: #f1fbfe;
}

.category_label {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
      }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav a:hover, .dropdown:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #012A4C;
  }

nav .active>a {
  color: #0066B9;
}

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.active:hover .dropdown-content, .dropdown:hover .dropdown-content, .active.dropdown:hover .dropdown-content {
    display: block;
  }