@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 10%;
    margin-top: 0%;
}

body {
  font-size: 18px;
}

p {
  line-height: 150%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 15px;
}

  p {
    font-size: 15px;
    line-height: 160%;
  }
}

h1 > a {
  text-decoration: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: black;
}

h1.display-1 {
  text-align: center;
  color: white;
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.accordion-header {
  margin: auto;
}

h2, h3, h4 {
  margin-bottom: 3%;
  margin-top: 3%;
}

h3, h4 {
  line-height: 140%;
}

.accordion-header * {
  font-weight: 800;
  color: #0066b9;
}

header {
  padding: 1.5%;
}

.header-wrapper {
  background-color: #085CA1;
}

.nav-link {
    color: #FFF;
    font-weight: 300;
}


.category_label, .tag_label {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.tag_label {
  padding: 1px 10px;
}

.active.list-group-item a {
  color: white;
}

/*.resources .panel {*/
/*    background:  #EFF6FB;*/
/*    border: 1px solid #DBDBDB;*/
/*}*/

.breakout {
  margin: 1em 10%;
  padding: 1em 1.5em;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: both;
}

.breakout.infobox {
  background-color: #D6DEFF;
  border-color: #D6DEFF;
}

.last-updated {
  font-size: 14px;
  font-style: italic;
}

.container-lg {
  padding-left: 5%;
  padding-right: 5%;
}

div.accordion {
  margin-bottom: 1rem;
}

#ado-logo {
  max-width: 100%;
}

@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dropdown-menu {
    position: absolute;
    top: 100% !important;
  }

.dropdown-menu.show {
  display: block;
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top left;
}

.nav-item:hover, a.nav-link:hover {
  text-decoration: underline white;
  color: white;
}

.nav-link.dropdown-toggle.show {
  color: #fff;
}