{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="container-fluid fs-5">
  <h1>{{ this.title }}</h1>

  <p class="meta">Published on {{ this.pub_date|dateformat('full') }} by {{ this.author }} </p>

  {% if this.show_toc %}
  <ul class="toc">
    {% for item in this.body.toc recursive %}
    <li><a href="#{{ item.anchor }}">{{ item.title }}</a>
      {%if item.children %}
      <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ this.body }}

  {% if this.extras %}
    {% if this.extras.blocks %}

      {% for blk in this.extras.blocks %}
        {% if blk._flowblock == 'image' %}
          <figure>
            {% if blk.width %}
              <img src="{{ blk.link }}" style="display: block; width: {{ blk.width }}; margin-left: auto; margin-right:auto"
                alt="{{ blk.alt }}">
            {% else %}
              <img src="{{ blk.link }}" style="display: block; width: 100%; margin-left: auto; margin-right:auto"
                alt="{{ blk.alt }}">
            {% endif %}
            <figcaption class="figure-caption text-center">{{ blk.caption }}</figcaption>
          </figure>

        {% elif blk._flowblock == 'text' %}
          {{ blk.body }}

        {% endif %}
      {% endfor %}

    {% endif %}
  {% endif %}

</div>
{% endblock %}