{% extends "layout.html" %}
{% from "macros/resources.html" import render_resource_list %}
{% from "macros/partners.html" import render_partner_logos, render_homepage_logos %}
{% from "macros/resources.html" import render_featured_cards %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="container-fluid fs-5">
    <h1 id="title">{{ this.title }}</h1>
    {{ this.body }}

    {{ render_featured_cards() }}

    <div class="text-center">
        <a href="../resources/" class="content-button">
            Explore All Resources
        </a>
    </div>

</div>
{% endblock %}