<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Australian Digital Observatory</title>
<body>
  <header>
    <h1>Australian Digital Observatory</h1>
    {% set my_image = site.get('/about').attachments.get('qut-logo-white.svg') %}
    <img src="{{ my_image|url }}" width="100" style="float:top">
    <nav id="navbar">
      
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}" class="dropbtn">Welcome</a></li>
        <li {% if this.is_child_of('/resources') %} class="active"{% endif %} class="dropdown">
           <a href="/resources" class="dropbtn">Resources</a>
           <div class="dropdown-content">
           {% for category in site.query("/resource-categories") %}
              <a href="{{ category|url }}">{{ category.name }}</a>
           {% endfor %}
           </div>
        </li>
        <li{% if this.is_child_of('/about') %} class="active"{% endif %}><a href='/about' class="dropbtn">About</a></li>  
      </ul>
    
    </nav>
  </header>
  
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div id="footer"> &copy; Copyright 2021 by QUT Digital Observatory. </div>
  </footer>
</body>
