{% extends "layout.html" %}
{% from "macros/resources.html" import render_category_nav, render_resource_list %}
{% block title %}Resources{% endblock %}
{% block body %}
<div class="container-fluid fs-5">
    <h1>About Australian Digital Observatory's Resources</h1>

    {{ this.body }}

    <h2>Featured resources</h2>

    <div id="featured-cards" class="row">
        {% set resources = site.get('/resources') %}
        {% for resource in resources.children.filter(F.feature == true) %}
        {% set description = resource.description.html.split('</p>')[0] %}
        <div class="col">
            <div class="card" id="featured">
                <div class="card-body">
                    <h4 class="card-title">{{ resource.title }}</h4>
                    <span class="badge bg-primary rounded-pill {{ resource.category }}">{{ resource.category }}</span>
                    <div class="truncate">
                        <p class="card-text">{{ description }}</p>
                    </div>
                    <a href="{{ resource|url }}" class="btn btn-primary featured-cta">See more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <h2>Resource categories</h2>
    {{ render_category_nav(active=none) }}

    <h2>All resources</h2>
    {{ render_resource_list(this.children) }}
</div>
{% endblock %}