{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h2>{{ this.title }}</h2>
    <a class="category_label" href="{{ site.get('/resource-categories').children.get('/{}'.format(this.category) ) |url }}">{{ this.category.capitalize() }}</a>
    <p class="description">{{ this.description }}</p>
    <p><strong><a href='/the-ado-ecosystem/#what-is-it-for'>Data-centric activities</a> this resource may assist with:</strong>
    {% if this.tags %}
      {% for t in this.tags %}
        <a class="tag_label" href="{{ ('/resources@tag/' ~ t.lower())|url }}">#{{ t }}</a>
      {% endfor %}
    {% endif %}
    </p>
    <br>
    <p><strong>Organisations/Institutions</strong>: {{ this.owner }}</p>
    {% if this.datePublished %}
    <p><strong>First published on:</strong> {{ this.datePublished.strftime("%d-%m-%Y") if this.datePublished }}</p>
    {% endif %}
    <p><strong>URL</strong>: <a href="{{ this.link }}" target="_blank">{{ this.link }}</a></p>
    {% if this.access %}
    <p><strong>Access conditions</strong>: {{ this.access }}</p>
    {% endif %}
    {% if this.doi %}
    <p><strong>DOI</strong>:
        {% if this.doi != '' %}<a href="{{ this.doi }}" target="_blank">{{ this.doi }}</a> {% else %} n/a {% endif %}
        </p>
    {% endif %}
    <p><strong>Point of contact for this {{ this.category }}</strong>: {{ this.poc }}</p>

{% endblock %}
