{% macro render_acknowledgement() %}
<div id="acknowledgement">
    <hr/>
    <h3>Acknowledgement</h3>
    <p class="italic">
        The
        <a href="https://internetobservatory.org.au/" target="_blank"
        >Australian Internet Observatory</a
        >
        (<a href="https://doi.org/10.3565/hjrp-b141" target="_blank"
    >https://doi.org/10.3565/hjrp-b141</a
    >) is national research infrastructure supporting digital platform and smart
        data research. AIO received investment from the Australian Research Data
        Commons (ARDC) through the
        <a
                href="https://www.education.gov.au/national-research-infrastructure"
                target="_blank"
        >
            National Collaborative Infrastructure Strategy (NCRIS)
        </a>
        in partnership with RMIT University, Queensland University of Technology,
        The University of Queensland, The University of Melbourne, Swinburne
        University of Technology and Deakin University.
    </p>
</div>
{%endmacro%}
