{% macro render_partner_logos() %}
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <img src="/static/images/qut-logo-small.png">
        </div>
        <div class="col">
            <img src="/static/images/uni-melb-logo.svg ">
        </div>
        <div class="col">
            <img src="/static/images/unsw-logo.svg">
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col">
            <img src="/static/images/uq-logo.svg">
        </div>
        <div class="col">
            <img src="/static/images/qcif-logo-small.jpg">
        </div>
        <div class="col">
            <img src="/static/images/google-cloud-logo-small.png">
        </div>
    </div>
{% endmacro %}