{% macro render_partner_logos() %}
<div class="row align-items-center justify-content-center">
  <div class="col">
    <img
      src="/static/images/ARDC_logo_RGB_small.png"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
</div>
<div class="row align-items-center justify-content-center align-self-center">
  <div class="col">
    <img
      src="/static/images/qut-logo-small.png"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
  <div class="col">
    <img
      src="/static/images/uni-melb-logo-small.png"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
  <div class="col">
    <img
      src="/static/images/unsw-logo.svg"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
</div>

<div class="row align-items-center justify-content-center align-self-center">
  <div class="col">
    <img
      src="/static/images/uq-logo.svg"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
  <div class="col">
    <img
      src="/static/images/qcif-logo-small.jpg"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
  <div class="col">
    <img
      src="/static/images/aio-banner-logo.png"
      class="rounded mx-auto d-block img-fluid"
    />
  </div>
</div>

{% endmacro %} {% macro render_homepage_logos() %}

<div class="container">
  <div class="row row-cols-2 align-items-center justify-content-center">
    <div class="col">
      <img
        src="/static/images/qut-logo-small.png"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="/static/images/uni-melb-logo-small.png"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="/static/images/unsw-logo.svg"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="/static/images/uq-logo.svg"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="/static/images/qcif-logo-small.jpg"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="/static/images/aio-banner-logo.png"
        class="rounded mx-auto d-block img-fluid"
      />
    </div>
  </div>
</div>

{% endmacro %}
